<header>
  <mat-toolbar color="primary" class="container">
    <h1><i class="fas fa-cloud-sun"></i> IWeather</h1>

    <div class="options">
      <button
        *ngIf="favorites[0].length == 0"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button "
        routerLink="/favorites"
      >
        <span class="btnText">Favorite&nbsp;</span>
        <mat-icon style="font-size: xx-large;">favorite</mat-icon>
      </button>
      <button
        *ngIf="favorites[0].length > 0"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button "
        routerLink="/favorites"
      >
        <span class="btnText">Favorite&nbsp;</span>
        <mat-icon
          matBadge="{{ favorites[0].length }}"
          matBadgeColor="warn"
          style="font-size: xx-large;"
          >favorite</mat-icon
        >
        <span class="cdk-visually-hidden"> </span>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button "
        routerLink="/main"
      >
        <span class="btnText">Home&nbsp;</span>
        <mat-icon style="font-size: xx-large;">home</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</header>
<div class="messages-container">
  <div class="message-danger" *ngIf="messageDanger !== null">
    <p>{{ messageDanger }}</p>
  </div>
</div>
