<mat-card class="container" *ngIf="dataForecasts !== null && cityData !== null">
  <div class="main">
    <div class="content">
      <form class="search-form" #searchform="ngForm">
        <mat-form-field class="example-full-width">
          <label for="search">Search City Name </label>
          <input
            [(ngModel)]="search"
            #searchF="ngModel"
            required
            name="search"
            type="text"
            id="search"
            aria-label="Number"
            matInput
            (keyup)="completeName(searchF.value)"
            [matAutocomplete]="auto"
            pattern="[a-zA-Z ]+"
          />

          <mat-autocomplete #auto="matAutocomplete">
            <div *ngIf="!searchF.errors">
              <mat-option
                *ngFor="let item of searchData"
                [value]="item.LocalizedName"
                (click)="getWeather(item.LocalizedName)"
              >
                {{ item.LocalizedName }}
              </mat-option>
            </div>
          </mat-autocomplete>
        </mat-form-field>
        <div
          *ngIf="searchF.errors?.required && searchF.touched"
          class="invalid-feedback"
        >
          City name is required
        </div>
        <div *ngIf="searchF.errors?.pattern" class="invalid-feedback">
          City name has to contain only english letters and spaces
        </div>
      </form>

      <mat-card
        class="main-data-card"
        *ngIf="dataForecasts !== null && cityData !== null"
      >
        <div class="city-img">
          <img *ngIf="cityImg" [src]="cityImg" alt="" />
        </div>
        <div class="city-name">
          <h1>
            {{ cityData[0].LocalizedName }}
          </h1>
          <p *ngIf="farOrCel">
            {{
              dataForecasts.DailyForecasts[0].Temperature.Minimum.Value +
                " &#8451; - " +
                dataForecasts.DailyForecasts[0].Temperature.Maximum.Value +
                " &#8451;"
            }}
          </p>
          <p *ngIf="!farOrCel">
            {{
              (dataForecasts.DailyForecasts[0].Temperature.Minimum.Value * 1.8 +
                32 | number: "1.1-1") +
                " &#8457; - " +
                (dataForecasts.DailyForecasts[0].Temperature.Maximum.Value *
                  1.8 +
                  32 | number: "1.1-1") +
                " &#8457;"
            }}
          </p>
        </div>

        <div class="button-container">
          <div class="example-button-container" *ngIf="dayNight">
            <button
              (click)="changeDayNight()"
              mat-fab
              color="primary"
              aria-label="Example icon button"
            >
              <mat-icon>wb_sunny</mat-icon>
            </button>
          </div>
          <div class="example-button-container" *ngIf="!dayNight">
            <button
              (click)="changeDayNight()"
              mat-fab
              color="primary"
              aria-label="Example icon button"
            >
              <mat-icon>brightness_3</mat-icon>
            </button>
          </div>
          <div class="example-button-container" *ngIf="farOrCel">
            <button
              (click)="fahrenheitOrCelsius()"
              mat-fab
              color="primary"
              aria-label="Example icon button"
            >
              &#8451;
            </button>
          </div>

          <div class="example-button-container" *ngIf="!farOrCel">
            <button
              (click)="fahrenheitOrCelsius()"
              mat-fab
              color="primary"
              aria-label="Example icon button"
            >
              &#8457;
            </button>
          </div>
        </div>
      </mat-card>
    </div>
    <button
      *ngIf="!inFavorite"
      mat-raised-button
      color="primary"
      (click)="
        addToFavorite({
          cityName: cityData[0].LocalizedName,
          cityId: cityData[0].Key,
          cityW: dataForecasts.DailyForecasts[0].Temperature.Minimum.Value,
          cityImg: cityImg,
          cityStatus: dataForecasts.DailyForecasts[0].Day.IconPhrase,
          unit: dataForecasts.DailyForecasts[0].Temperature.Minimum.Unit
        })
      "
    >
      <i class="fas fa-heart"></i> Add to favorit
    </button>
    <button *ngIf="inFavorite" mat-raised-button disabled color="primary">
      <i class="fas fa-heart"></i> In Favorite
    </button>
  </div>
  <div
    class="cards"
    *ngIf="dataForecasts !== null && cityData !== null && dayNight"
  >
    <mat-card
      class="card"
      [ngStyle]="{
        'background-image': 'url(assets/img/' + da.Day.Icon + '.png)'
      }"
      *ngFor="let da of dataForecasts.DailyForecasts"
    >
      <h2>{{ da.Date | date: "MMMM d" }}</h2>
      <p *ngIf="farOrCel">{{ da.Temperature.Maximum.Value }}&#8451;</p>
      <p *ngIf="!farOrCel">
        {{ da.Temperature.Maximum.Value * 1.8 + 32 | number: "1.1-1" }}&#8457;
      </p>
    </mat-card>
  </div>
  <div
    class="cards"
    *ngIf="dataForecasts !== null && cityData !== null && !dayNight"
  >
    <mat-card
      class="card"
      [ngStyle]="{
        'background-image': 'url(assets/img/' + da.Night.Icon + '.png)'
      }"
      *ngFor="let da of dataForecasts.DailyForecasts"
    >
      <h2>{{ da.Date | date: "MMMM d" }}</h2>
      <p *ngIf="farOrCel">{{ da.Temperature.Minimum.Value }}&#8451;</p>
      <p *ngIf="!farOrCel">
        {{ da.Temperature.Minimum.Value * 1.8 + 32 | number: "1.1-1" }}&#8457;
      </p>
    </mat-card>
  </div>
</mat-card>
<div class="messages-container">
  <div class="message-danger" *ngIf="messageDanger !== null">
    {{ messageDanger }}
  </div>
  <div class="message-good" *ngIf="messageGood !== null">
    {{ messageGood }}
  </div>
</div>
