<h1>Favorit Cities</h1>
<div *ngIf="favorites[0].length > 0; else noFavorite">
  <mat-card class="container">
    <mat-card
      class="card"
      [ngStyle]="{
        'background-image': 'url(' + item.cityImg + ')'
      }"
      *ngFor="let item of favorites[0]; let i = index"
      class="card"
    >
      <h2>{{ item.cityName }}</h2>
      <p>{{ item.cityW }} &#8451;</p>

      <p>{{ item.cityStatus }}</p>

      <div class="icon-Warp">
        <button
          routerLink="/main/{{ item.cityName }}"
          color="primary"
          mat-mini-fab
        >
          <mat-icon>remove_red_eye</mat-icon>
        </button>
        <button (click)="removeFromFavorite(i)" color="warn" mat-mini-fab>
          <mat-icon>restore_from_trash</mat-icon>
        </button>
      </div>
    </mat-card>
  </mat-card>
</div>
<ng-template #noFavorite>
  <mat-card class="container">
    <h2>No Favorite Cities in the list</h2>
  </mat-card>
</ng-template>
